<div class="row">
    <h1>Actions</h1>
    <table>
        <tr>
            
            <th>greet_name</th>
        </tr>
        {{#each actions}}
        <tr>
            <td></td>
            <td> <a href="/users/{{greet_name}}">{{greet_name}}</a></td>
        </tr>
        {{/each}}
    </table>
</div>