<div class="row">
  <form action="/greet" method="POST">

    <div class="row">
      <div class="col-12">
        <div class="box">
          <h1 class="center">Greetings</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="name ">
          <span>
            <h1>Name</h1>
          </span>
          <span>
            <input type="text" name="inputUser" class="textBox" value="" placeholder="Enter name">
          </span>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 ">
        <div class="move">
          <span>
            <input type="radio" name="language" class="langButton" value="English">English
          </span>
          <span>
            <input type="radio" name="language" class="langButton" value="isiXhosa">isiXhosa

          </span>
          <span>
            <input type="radio" name="language" class="langButton" value="Afrikaans">Afrikaans
          </span>
        </div>
      </div>
    </div>
    <br>
    <div class="displayGreet">{{{message}}}</div>
    <br>
    <div class="displayFlash">{{{messages.info}}}</div>

    <div class="row">
      <div class="col-12">
        <div class="myBtn">

          <input type="submit" class="greetbtn" value="greet me!">
  </form>


  <form action="/reset" method="POST">
    <input type="submit" name="button" class="resetBtn" value="reset!">
  </form>

</div>
</div>
</div>
<div class="counter">{{{theCounter}}}</div>
<div>
  <a class="link" href="/greeted">People greeted</a>
</div>

</div>