body{
    background-color: lightgoldenrodyellow;
}
.name{
    justify-content: center;
    display: flex;
    font-size: 0.8em;

}
input{
    margin-top: 3.10em;
}
.box{
    font-size: larger;
    justify-content: center;
    display: flex;
       
      }

.move{
    justify-content: center;
    display: flex;
}
.myBtn{

    justify-content: center;
    display: flex;
    
}
span{
    font-size: 1.5em;
}
.displayGreet{
    justify-content: center;
    display: flex;
    color: lightskyblue;
    font-size: 20px;
      }

    .displayFlash{
        justify-content: center;
        display: flex;
        color: red;
        font-size: 20px;
     
              }
    
.counter {
    justify-content: center;
    display: flex;
     font-size: 40px;
       
  }
  .count {
    justify-content: center;
    display: flex;
     }
.greeted{
    margin-left: 0.5em;
}
.link{
    justify-content: center;
    display: flex;
    margin-top: 1.5em;
    color: green;
    font-size: 20px;
}
.data{
    float: left;
}

.textBox{
    margin-left: 1.5em;
}
